<form action="https://docs.google.com/forms/d/e/1FAIpQLSfZQXdktOFuGf4AGMCYfLEwBrDo2VHqKaLjQ3FYRL2RQuiKaQ/formResponse" method="post">
    <div>
        <label>Email Address</label>
        <input type="email" placeholder="Email address*" name="LwH6nd" required>
    </div>
    <br>
    <div>
        <label>Subject*</label>
        <input type="text" placeholder="Subject" name="LwH6nd">
    </div>
    <br>
    <div>
        <label>Message*</label>
        <textarea rows="5" placeholder="Message*" name="YPqjbf" required></textarea>
    </div>
    <br>
    <button type="submit">Send</button>
</form>