<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://marathi.gitlab.io/">Marathi Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a title="About" href="https://marathi.gitlab.io/page/about/">About</a>
                </li>
                <li>
                    <a title="Blog" href="https://marathi.gitlab.io/">Blog</a>
                </li>
                <li>
                    <a title="Tags" href="https://marathi.gitlab.io/tags">Tags</a>
                </li>
                <li>
                    <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch" style="outline: none;">
                        <span class="hidden-sm hidden-md hidden-lg">Search</span> <span id="searchGlyph"
                            class="glyphicon glyphicon-search"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="avatar-container">
            <div class="avatar-img-border">
                <a title="Marathi Portal" href="https://marathi.gitlab.io/"></a>
            </div>
        </div>
    </div>
</nav>